---
layout: layouts/home.njk
---
<section class="center w-100">
  <h1 class="fl w-100">Open Source doesn’t need to be hard to source.</h1>
  <p class="fl w-100"></p>
</section>

<section class="center w-100">
  <h2 class="fl w-100">Store</h2>
  <p class="fl w-100"></p>
  <div class="fl w-100">
    {% set postslist = collections.store | head(-1) %}
    {% set postslistCounter = collections.store | length %}
    {% include "store-hero.njk" %}
  </div>
  <div class="center w-100">
    {% set postslist = collections.store %}
    {% include "store-gallery.njk" %}
  </div>
</section>

<section class="center w-100">
  <p class="fl w-100">Want to learn about future projects</p>
</section>

