---
layout: layouts/home.njk
eleventyNavigation:
  key: o.0
  order: 1
---
<section class="hero">
<h1>future perfect</h1>

</section>


<section class="concepts">
  <h1>Concepts</h1>
 {% set postslist = collections.concepts %}
{% include "concepts-preview.njk" %}
</section>


<section>
  <h1>Seen In</h1>

</section>