---
layout: layouts/home.njk
---
<section class="hero">
  <div class="center">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-50-ns pa3">
        <h1>Open Source <br/>doesn’t need to be <br/>hard to source.</h1>
      </div>
      <div class="fl w-100 w-50-ns pa3">
  <img src="https://media.giphy.com/media/gw3IWyGkC0rsazTi/giphy.gif"/>
      </div>
    </div>
  </div>
</section>
<section class="store">
  <div class="center">
    <div class="cf ph2-ns">
      <div class="fl w-100 ph3">
        <h2>Store</h2>
      </div>
      <div class="fl w-100 pa3">
        <p >Our store will add new projects each quarter and you can always recommend open hardware projects you would like us to source. Just send us an <span>email</span>.</p>
        {# TODO: Make this a hover span with email #}
      </div>
    {# <div class="fl w-100">
      {% set postslist = collections.store | head(-1) %}
      {% set postslistCounter = collections.store | length %}
      {% include "store-hero.njk" %}
    </div> #}
    {# TODO: Make the Feature a gallery #}

     <div class="fl w-100">
       {% set postslist = collections.store %}
       {% include "store-gallery.njk" %}
      </div>
    </div>
  </div>
</section>

<section class="newsletter">
  <div class="center">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-100-m w-50-ns pa3">
        <h3>Want to learn about future projects? Join our newsletter.</h3>
      </div>
      <div class="fl w-100 w-100-m w-50-ns pa3">
        <button>
          <a href="https://tinyhardware.substack.com/embed" target="_blank" rel="noopener noreferrer">Subscribe</a>
        </button>
      </div>
    </div>
  </div>

</section>


