---
title: Store
layout: layouts/base.njk
eleventyNavigation:
  key: store
  order: 1
---

<section class="hero center ph3" style="margin-top: 20vh; ">
  <h1>{{title}}</h1>

  {% set postslist = collections.store %}
  {% include "store-gallery.njk" %}

</section>
