<footer class="dt w-100 pa3-ns">
  <div class="dtc v-mid w-50 tl">
  <div class="link dib{% if entry.url === page.url %}link dib b{% endif %}">
    <a href="https://tinyfactories.space" target="_blank" rel="noopener noreferrer">a tiny factories project ↗</a>
  </div>
  </div>
  <div class="dtc v-mid w-15 tr">
    <a href="https://github.com/tiny-factories/code-of-conduct" class="link dib" target="_blank" rel="noopener noreferrer">code of conduct ↗</a> ·
    {# <a href="/blog/" class="link dib" target="_blank" rel="noopener noreferrer">open ↗</a> · #}
    <a href="hyper://ce361e407fd3cf2a3cdf3ed7e08b3fb0383f95b502ee88ebd76c977dc280b215/" class="link dib" target="_blank" rel="noopener noreferrer">p2p ↗</a>
</footer>


{# <footer class="ph3 ph4-ns pv6 bt b--black-10 black-70">
  <a href="mailto:" class="link b f3 f2-ns dim black-70 lh-solid">hello@email.com</a>
  <p class="f6 db b ttu lh-solid">{{metadata.title}}</p>
  <div class="mt5">
    <a href="/language/" title="Language" class="f6 dib pr2 mid-gray dim">Language</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 mid-gray dim">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib pl2 mid-gray dim">Privacy</a>
  </div>
</footer> #}

