
<nav class="dt w-100 pa3-ns">
  <div class="dtc v-mid w-50 tl">
  <div class="link dib{% if entry.url === page.url %}link dib b{% endif %}">
    <a href="/">{{metadata.title}}</a>
  </div>
  </div>
  <div class="dtc v-mid w-15 tr">
    <a href="/store/" class="link dib{% if entry.url === page.url %}link dib b{% endif %}">store</a> ·  <a href="/catalog/" class="link dib{% if entry.url === page.url %}link dib b{% endif %}">catalog</a> ·
    <a href="https://tinyhardware.substack.com/embed" class="link dib{% if entry.url === page.url %}link dib b{% endif %}">newsletter</a>
  {# {%- for entry in collections.all | eleventyNavigation %}
  <div class="link dib{% if entry.url === page.url %}link dib b{% endif %}">
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
  </div>
{%- endfor %} #}
</nav>


