<div reversed class="fl w-100" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <article class=" fl w-100 w-50-ns pa3">
    <a href="{{ post.url | url }}" class="fl w-100 pa3">
      <div class="project-card pa3">
        <h3 class="fl w-100">{{post.data.title}} [{{post.data.type}}]</h3>
        <p class="creator pv2">by {{post.data.creator}}</p>
        <img src="{{post.data.previewImage}}" class="fl w-100"/>
        <p class="ship-date center tc w-100">{{post.data.shipDate}}</p>
      </div>
      <div class="fl w-100">
        <button class="button-card">Explore</button>
      </div>

  </a>
  </article>
{% endfor %}
</div>
