<div reversed class="fl w-100" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <article class="fl w-100 w-50-ns pa3">
    <a href="{{ post.url | url }}" class="fl w-100 pa3 ba br3 b--white">

    <h3 class="fl w-100">{{post.data.title}}</h3>
    <h3 class="fl w-100">[{{post.data.type}}]</h3>
    <img src="{{post.data.previewImage}}" class="fl w-100"/>
    <p class="ship-date center tc w-100">{{post.data.shipDate}}</p>
      <button class="center w-100 br3">Explore</button>
  </a>
  </article>
{% endfor %}
</div>
