---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1><div class="dib">{{ title }}</div>


<div class="dib dropdown">
  <button class="dropbtn">[ {{type}} ]
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
  {# <a href="{{ post.title | slug}} + {{ post.type}}">[ {{type}} ]</a> #}
    <a href="">[ {{type}} ]</a>
    <a href="">[ Assembled ]</a>
     {# TODO: Add logic to toggle between DIY and Assembled products #}
  </div>
</div>
</h1>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
